@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
    background: url(bg.jpeg);
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    animation: spin 5.5s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}